Create a directory named "templates" under the "php" directory.

Create a file named "www.conf.j2" under the "templates" directory.

In the "www.conf.j2" file, add the following configuration:

[www]
user = www-data
group = www-data
listen = {{ php_listen_ip }}:{{ php_listen_port }}
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
